<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

	<listeners>
		<listener class-name="HimalayaPractice.E2EProject.Listeners" />
	</listeners>
	
	<test name="Validating HomePage">
		<classes>
			<class name="HimalayaPractice.E2EProject.HomePage" />
		</classes>
	</test>

	<test name="Validating Title">
		<classes>
			<class name="HimalayaPractice.E2EProject.ValidateTitle" />
		</classes>
	</test>

	<test name="Validating NavigationBar">
		<classes>
			<class name="HimalayaPractice.E2EProject.ValidateNavigationBar" />
		</classes>
	</test>

</suite> <!-- Suite -->
